@model BirdieBook.ViewModels.UserRoundCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.1.1/typeahead.jquery.min.js"></script>

<h2>Create</h2>

<h4>UserRound</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.UserRound.UserId" class="control-label"></label>
                <input asp-for="@Model.UserRound.UserId" class="form-control" />
                <span asp-validation-for="@Model.UserRound.UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.GolfCourses.First().Name"></label>
                <select asp-for="@Model.GolfCourses" id="GolfCourseSelect"
                        asp-items="@(new SelectList(Model.GolfCourses, "GolfCourseID", "Name"))"
           >
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="@Model.TeeBoxes.FirstOrDefault().Name"></label>  @*Should never be null*@
                <select asp-for="@Model.UserRound.TeeBoxId" id="TeeBoxSelect"> @* Options are populated from Jquery events below *@

                        @*asp-items="@(new SelectList(Model.TeeBoxes, "TeeBoxID", "Name"))">*@
                </select>
                <span asp-validation-for="@Model.UserRound.TeeBoxId" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="@Model.UserRound.TeeTime" class="control-label"></label>
                <input asp-for="@Model.UserRound.TeeTime" class="form-control" />
                <span asp-validation-for="@Model.UserRound.TeeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.UserRound.UserHcp" class="control-label"></label>
                <input asp-for="@Model.UserRound.UserHcp" class="form-control" />
                <span asp-validation-for="@Model.UserRound.UserHcp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.UserRound.DailyScratchRating" class="control-label"></label>
                <input asp-for="@Model.UserRound.DailyScratchRating" class="form-control" />
                <span asp-validation-for="@Model.UserRound.DailyScratchRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.UserRound.WeatherCondition" class="control-label"></label>
                <input asp-for="@Model.UserRound.WeatherCondition" class="form-control" />
                <span asp-validation-for="@Model.UserRound.WeatherCondition" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
 
<div>
    <a asp-action="Index">Back to List</a>
</div>


@*User Scores per hole*@
@await Component.InvokeAsync("UserScore", new { userRoundCreate= Model })
 

    <script>
        $(document).ready(function() {
            console.log('document ready');

            //Override some styles to show proper dropdown boxes.
            $('#GolfCourseSelect').removeAttr('multiple');
            $('#TeeBoxSelect').removeAttr('multiple');


            //Get Teeboxes after a golfcourse was selected
            $('#GolfCourseSelect').click(function () {
                console.log('GolfCourseSelect clicked: ' + $('#GolfCourseSelect').val());
                $.getJSON("/TeeBoxes/GetTeeboxes/" + $('#GolfCourseSelect').val(), function (data) {
                    $.each(data, function (key, teeBox) {
                        $('#TeeBoxSelect').append($('<option></option>').val(teeBox.teeBoxID).text(teeBox.name));
                        //console.log(key + ' ' + teeBox.teeBox.name);
                    });
                });
            });

    });

    </script>



    @section Scripts {
        @{await Html.RenderPartialAsync($"_ValidationScriptsPartial");}
    }
