@model UserRound

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserRound</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeeBoxId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeeBoxId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeeTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeeTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserHcp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserHcp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DailyScratchRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DailyScratchRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeatherCondition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeatherCondition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserRoundId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
