@model IEnumerable<BirdieBook.ViewModels.UserRoundViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(modelItem=>modelItem.UserRound.UserID)
            </th>*@
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.GolfCourse)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.Tee)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.TeeTime)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.HolesPlayed)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.TotalScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.HiddenFor(modelItem => item.UserRound.UserID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.GolfCourse)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Tee)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TeeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HolesPlayed)
            </td>

            <td>
                @Html.DisplayFor(modelItem =>  item.TotalScore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserRoundID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserRoundID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserRoundID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
