@model IEnumerable<BirdieBook.ViewModels.UserRoundViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(modelItem=>modelItem.UserRound.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem=>modelItem.TeeBox.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem=>modelItem.UserRound.TeeTime)
                </th>
                <th> 
                    @Html.DisplayNameFor(modelItem => modelItem.UserRound.UserHCP)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.UserRound.DailyScratchRating)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.UserRound.WeatherCondition)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserRound.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeeBox.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRound.TeeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRound.UserHCP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRound.DailyScratchRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRound.WeatherCondition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserRound.UserRoundID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserRound.UserRoundID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserRound.UserRoundID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
