@model BirdieBook.Models.TeeBox

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeeBox</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MensSlope)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MensSlope)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MensCourseRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MensCourseRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WomensSlope)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WomensSlope)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WomensCourseRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WomensCourseRating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TeeBoxID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
