@model IEnumerable<TeeBox>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MensSlope)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MensCourseRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WomensSlope)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WomensCourseRating)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MensSlope)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MensCourseRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WomensSlope)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WomensCourseRating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeeBoxId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeeBoxId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeeBoxId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
